.avatar{
    float: right;
    margin-right: 20px;
}
.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.pria-table-header{
    text-align: center;
}
.pria-wrapper {
    margin-left: 10px;
}
.pria-table-column{
    text-align: center;
}
.pria-btn{
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 28px;
}
.pria-btn-small{
    width: 60px;
    line-height: 1;
    height: 28px;
}
.pria-search{
    min-height: 38px;
}
.pria-search label{
    margin-right:5px;
}
.pria-search input, .pria-search select{
    height:28px;
    line-height: 28px;
    border-radius: 3px;
    border:1px solid #ddd;
    min-width: 100px;
    text-indent: 5px;
}
.pria-search button{

}
.pria-filter{
    display: inline-block;
    margin-right: 10px;
}
.pria-table-wrapper {
    clear: both;
}
.pria-form-radio input[type="radio"] {
    margin-top: 3px;
}
.pria-textarea{
    resize: none;
    height: 50px;
}
.pria-btn-add{
    width: 20px;
    height: 20px;
    line-height: 1;
    text-align: center;
    border: none;
    color: #fff;
    margin-left: 5px;
    padding: 0 !important;
}
.pria-input-number{
    width: 80px !important;
}
.pria-buttons{
    text-align: center;
    margin-bottom: 10px;
}
.pria-buttons button{
    margin-right: 10px;
    margin-top: 10px;
}

.main h5{
    margin-left: 10px;
}
.main h4{
    line-height: 1;
    padding-bottom: 10px;
}
.main .react-tabs{
    margin-left: 10px;
}
.form-inline .row .form-group{
    margin-bottom:10px;
}
.form-inline .row .form-group .control-label{
    text-align: right;
    margin-right:10px;
    width:85px;
}
.form-control{
    height:30px;
    padding: 0;
    text-indent: 5px;
}
.btn{
    padding: 4px 16px;
}

.pria-single{
    margin-left:10px;
}
