.pria-footer{
    position: fixed;
    bottom: 0px;
    height: 40px;
    background: red;
    line-height: 40px;
    border-top: 1px solid #1c2b36;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: 200px;
    background-color: #eef1f6;
}