.react-tabs [role=tablist] {
    margin: 0 0 10px;
    padding: 0;
    background-color: #eef1f6;
    color:#fff;
}

.react-tabs [role=tab] {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    color: #f28d4d;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    min-width:100px;
    text-align: center;
}

.react-tabs [role=tab][aria-selected=true] {
    background-color: #f28d4d;
    border-color: #f28d4d;
    color:#fff;
}

.react-tabs [role=tab]:focus {
    box-shadow: 0 0 5px #f28d4d;
    border-color: #f28d4d;
    outline: none;
}

.react-tabs [role=tab]:focus:after {
    content: '';
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}