.TopBar{
  height: 50px;
  width: 100%;
  font-size: 22px;
  line-height: 50px;
  position: relative;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.TopBar .logo {
    float: left;
    width: 200px;
    height: 50px;
    background: #008DE7;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.level-one-menu{
	float: left;
}

.level-one-menu .el-menu{
	background-color: #fff;
	position: relative;
}

.level-one-menu .el-menu .el-menu-item{
	height: 50px;
    line-height: 50px;
    background: #fff;
    color: #999;
    float: left;
    padding: 0 20px;
    font-size: 14px;
    cursor: pointer;
}

.level-one-menu .el-menu .el-menu-item:hover{
	border-bottom: 5px solid #20a0ff;
	background-color: #eef1f6;
}

.level-one-menu .el-menu .el-menu-item.is-active{
	color: #20a0ff;
	border-bottom: 5px solid #20a0ff;
}